
@{
    ViewData["Title"] = "Index";
}

<h1>Register</h1>

<form action="Registration/Register" method="post">

    First Name: <input type="text" name="fname" maxlength="20" /><br />
    Last Name: <input type="text" name="lname" maxlength="20" /><br />
    Email: <input type="email" name="email" /><br />
    Phone: <input type="number" name="phone" /><br />
    Password: <input type="text" name="password" /><br />

    <input type="submit" value="Register!" />

</form>