
@{
    ViewData["Title"] = "Register";
}

<h1>Registration</h1>

<p>Thank you @ViewData["name"], you have been successfully registered.</p>

<p>Click <a href="/Result">here</a> to log in with your new registration!</p>

